<div class="parent-container">
  <div class="child-container">
    <h2>Welcome to My Receipe Page <b>All you need to eat
    </b></h2>
    <span class="desc">This webpage will give you Receipes <i> if you are bored go eat in resturants </i> . This application find Recipe and Place to find that Food.</span><br><br><br>
    <form>
      <div class="form-group">
        <p>Food is the third most important thing for living beings to provide energy and development, maintain life, or stimulate growth after air and water. In fact, it is one of the most complicated sets of chemicals. Food plays an important role in the promotion of health and disease prevention. In general, it consists of essential nutrients, such as carbohydrates, proteins, fats, minerals and vitamins which are consumed to provide nutritional support for an organism and ingested by an organism and assimilated by the organism's cells to sustain health. These nutritious foods are in the form of grains, pulses, fruits, vegetables, oils, etc.
          We must know that the terms ‘food’ and ‘nutrition’ are sometimes used synonymously, that is not correct completely. Food is a composite mixture of various ingredients that are consumed for nutrition. On the other hand, nutrition connotes a dynamic process in which swallowed food is utilized by the human body for nourishment. As much as we eat, our body gets nourished. When there is an insufficient intake of protein, energy or carbohydrate, there is often illness or infection</p>
      </div>
    </form>
  </div>
</div>
